<ion-content padding-horizontal>

    <div id="top-img">
        <img src="../../assets/imgs/the-alley.png">
    </div>

    <form [formGroup]="myForm" (ngSubmit)="formSubmit()">

        <input [formControl]="userId" placeholder="ユーザーID">
        <span *ngIf="(userId.dirty || userId.touched) && userId.errors?.required">ユーザーIDは必須です。</span>
        <span *ngIf="userId.errors?.maxlength">ユーザーIDは10文字以内で入力してください。</span>

        <input [formControl]="password" placeholder="パスワード">
        <span *ngIf="(password.dirty || password.touched) && password.errors?.required">パスワードは必須です。</span>
        <span *ngIf="password.errors?.maxlength">パスワードは16文字以内で入力してください。</span>

        <button type="submit" [disabled]="myForm.invalid" ion-button block color="dark">ログイン</button>

    </form>

    <ion-footer text-center>
        アカウントをお持ちでない場合 登録はこちら
    </ion-footer>

</ion-content>
